<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="signup d-flex justify-content-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <div class="text-center">
              <img src="../../../assets/Untitled-22343.png" class="logo " alt="internnexus_logo">
            </div>
                    <h3 class="signup-heading text-center align">Register</h3>
                    <h5 class="signup-headingbottom text-center align2">Hey! Fill up the information below to create an account with InternNexus.</h5>
                <!-- Sign In Form -->
                <form>
  
                    <div class="row">
                      <div class="col form-floating  mb-3">
                        <input type="text" class="form-control" id="firstname" placeholder="First Name" required="required">
                    <label for="floatingInput" class="lab1"> First Name </label>
                  </div>
                      <div class="col form-floating  mb-3">
                        <input type="text" class="form-control" id="lastname" placeholder="Last Name" required="required">
                    <label for="floatingInput" class="lab1"> Last Name </label>
                  </div>
                    </div>
  
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required="required">
                    <label for="floatingInput" class="lab">Email address</label>
                  </div>
                  <div class="row">
                  <div class="col-3 form-floating mb-3 ">
                    <select class="form-select lab3 form-control">
                      <option value="1">IN +91</option>
                      <option value="2">two</option>
                      <option value="3">Three</option>
                      <option value="4">four</option>
                    </select>
                  </div>
                  <div class="col-9 form-floating mb-3">
                    <input type="tel" class="form-control" id="floatingInput" placeholder="Phone Number" required="required">
                    <label for="floatingInput" class="lab1">Phone Number</label>
                  </div>
                  </div>
                  <div class="form-floating mb-3">
                    <input id="floatingpassword" class="form-control" type="password" name="pass" placeholder="Password" required="required">
                    <label for="floatingPassword" class="lab">Password</label>
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                  </div>
                <div class="form-group mb-3">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="rememberPasswordCheck" required="required">
                    <span> I agree to the </span>
                    <a href="#" class="small">Terms &amp; Conditions</a>
                  </label>
                </div>
                <div class="d-grid">
                  <button class="btn btn-md btn-signup text-uppercase fw-bold mb-2" type="submit"> Create Account</button>
                </div>
  
                <div class="d-flex mb-2 mt-4 justify-content-center sup">
                  <span class="acc"> Already have an account ? <a href="#" class="log"> Login </a></span>
                 </div>
                 <div class="d-flex justify-content-center reserve ">
                  <span>©Hounding Infosec Pvt. Ltd. All Rights Reserved. | <a href="#" class="tc">Privacy Policy</a></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>